<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
        <header class="u-clearfix u-header u-header" id="sec-b860"><div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <nav class="u-align-left u-menu u-menu-hamburger u-offcanvas u-menu-1" data-responsive-from="XL">
          <div class="menu-collapse">
            <a class="u-button-style u-custom-color u-nav-link u-text-palette-2-base" href="#" style="padding: 9px 26px; font-size: calc(1em + 18px);">
              <svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 302 302" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5c50"></use></svg>
              <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="svg-5c50" x="0px" y="0px" viewBox="0 0 302 302" style="enable-background:new 0 0 302 302;" xml:space="preserve" class="u-svg-content"><g><rect y="36" width="302" height="30"></rect><rect y="236" width="302" height="30"></rect><rect y="136" width="302" height="30"></rect>
</g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
            </a>
          </div>
          <div class="u-nav-container">
            <ul class="u-nav u-unstyled u-nav-1"><li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-2-base u-text-active-palette-1-base u-text-hover-palette-2-base" href="/" style="padding: 10px 20px;">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link u-palette-2-base u-text-active-palette-1-base u-text-hover-palette-2-base" href="/about" style="padding: 10px 20px;">About</a>
</li>
<li class="u-nav-item">
  <a class="u-button-style u-nav-link u-palette-2-base u-text-active-palette-1-base u-text-hover-palette-2-base" href="/contact" style="padding: 10px 10px 10px 20px;">Contact</a>
</li>
<li class="u-nav-item"> <a class="u-button-style u-nav-link u-palette-2-base u-text-active-palette-1-base u-text-hover-palette-2-base" href="/team" style="padding: 10px 10px 10px 20px;">Our team</a></li>
<li class="u-nav-item"> <a class="u-button-style u-nav-link u-palette-2-base u-text-active-palette-1-base u-text-hover-palette-2-base" href="/more" style="padding: 10px 10px 10px 20px;">More About Us</a></li>
</ul>
          </div>
          <div class="u-nav-container-collapse">
            <div class="u-align-center u-black u-container-style u-inner-container-layout u-opacity u-opacity-95 u-sidenav">
              <div class="u-inner-container-layout u-sidenav-overflow">
                <div class="u-menu-close"></div>
                <ul class="u-align-center u-nav u-popupmenu-items u-unstyled u-nav-2"><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/">Home</a>
</li><li class="u-nav-item"><a class="u-button-style u-nav-link" href="/about">About</a>
</li>
<li class="u-nav-item"><a class="u-button-style u-nav-link" href="/contact">Contact</a></li>
<li class="u-nav-item"><a class="u-button-style u-nav-link" href="/team">Our Team</a></li>
<li class="u-nav-item"><a class="u-button-style u-nav-link" href="/more">more About Us</a></li>
</ul>
              </div>
            </div>
            <div class="u-black u-menu-overlay u-opacity u-opacity-70"></div>
          </div>
        </nav>
      </div>
      </header>
</body>
</html>