<!DOCTYPE html>
<html lang="en">
<head>
    {{>header}}
</head>
<body>
    {{>navbar}}
        <section class="u-clearfix u-grey-5 u-section-3" id="sec-b6af">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-1">
                  <div class="u-image u-image-circle u-image-1" alt="" data-image-width="720" data-image-height="1080"></div>
                </div>
              </div>
              <div class="u-container-align-left u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <h5 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default u-text-1"> Work together for success</h5>
                  <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2"> Financial freedom could be just one phone call away</h2>
                  <p class="u-align-left u-text u-text-default u-text-3"> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&nbsp;​Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <a href="#" class="u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-1">about</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-clearfix u-section-4" id="carousel_6d74">
      <div class="u-clearfix u-sheet u-valign-middle-lg u-valign-middle-xl u-sheet-1">
        <div class="u-clearfix u-expanded-width u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-align-left-lg u-container-align-left-xl u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-valign-bottom-lg u-valign-bottom-xl u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-container-layout-1">
                  <h5 class="u-align-left u-custom-font u-font-montserrat u-text u-text-default-lg u-text-default-xl u-text-1"> See what we can do for you</h5>
                  <h2 class="u-align-left u-custom-font u-font-montserrat u-text u-text-2"> We have worked with the leading companies</h2>
                  <p class="u-align-left u-text u-text-default u-text-3"> Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.&nbsp;​Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                  <a href="#" class="u-align-left u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-1">about</a>
                </div>
              </div>
              <div class="u-container-align-left-sm u-container-align-left-xs u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle-lg u-valign-middle-md u-valign-middle-sm u-valign-middle-xs u-valign-top-xl u-container-layout-2">
                  <div class="u-image u-image-circle u-image-1" alt="" data-image-width="720" data-image-height="1080"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {{>footer}}
</body>
</html>